@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #12213D;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #74A0CE;
}

.apresentacao {
    margin: 10% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao_conteudo_txt {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.apresentacao_botoes {
    background-color: #74A0CE;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

img {
    border-radius: 15px;
    width: 50vh;
}

.apresentacao_botoes:hover{
    background-color: #638AB1;
    transition-delay: 2ms;
}